@keyframes spinAround {
   from {
     -webkit-transform: rotate(0deg);
             transform: rotate(0deg);
   }
   to {
     -webkit-transform: rotate(359deg);
             transform: rotate(359deg);
   }
 }

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 45px;

  img {
    display: block;
  }
}

  /* QUAX ASSINATURA */

.quax-assinatura {
   text-align: center;
}
 /* FIM QUAX ASSINTAURA */



@media only screen and (max-width: 576px) {

  footer {
    padding-top: 50px;
    padding-bottom: 50px;
    img {
      width: 220px;
    }
  }


}