header{
    @include transition(0.6s);
    //@include fixed($t: 0, $z: 200);
    width: 100%;
    background: #234F4C;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 7000 !important;



   .header-options {
      display: flex;
      gap: 40px;
      justify-content: flex-end;
      align-items: center;

   }

     .wide-full {
      padding: 0 35px;
     }

       
    .logo {
      pointer-events: all;
      display: flex;
      align-items: center;
      min-width: 90px;
    }

    .navbar-burger{
       border-radius: 26px;
       pointer-events: all;
       display: block;
       margin-left: 0;
       transform: scale(1.3);
       height: 2.6rem;
       width: 3.2rem;
       
       span{

          background-color: white;
          color: white;

          @include transition();
          height: 2px;
          border-radius: 5px;

          &.black-burger {
            color: black;
            background-color: black;
         }
       }
 
       &:hover{

          span{
             background-color: $primary-color;
          }
       }
 
       &.is-active{
          span{ background-color: #FFF; }
 
          &:hover{
             span{ background-color: $primary-font-condensed; }
          }
       }
    }
 
 
    &.is-hide{
       //top: -125px;
       //.logo{ opacity: 0; }
    }
 
    &.is-compact{

       
    }
 
 
    .logo{
       // max-width: 256px;
       margin: 0;
       transition: all 1s cubic-bezier(0.38,0,.02,1);
    }
 
    .links{
       @include transition(0.6s);
      height: 100%;
      padding-right: 20px;


        ul {
          display: flex;
          height: 100%;
          justify-content: flex-end;
          align-items: center;
          gap: 50px;

          li a{
            color: #A3B3AD;
            font-size: 20px;
            font-family: $primary-font-condensed;
            position: relative;


            &:hover{
              color: $primary-font-condensed;



              &:before{
                width: 100%;
              }
            }

            &.is-active{
              color: $primary-color;

              &:before{
                width: 100%;
              }
            }
          }
      }
 

    }

    .button-container {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: 30px;

      .btn {
        padding: 6px 32px;
        padding-bottom: 8px;
        padding-left: 80px;
        padding-right: 45px;
        font-size: 20px;
        font-family: $primary-font;
        background-color: $secondary-color;

        .whats-icon {
          position: absolute;
          left: -10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }


    }
 }

 
.menu{
    @include fixed($t: 0, $r: -100%, $z: 9999);
    display: flex;
    width: 100%;
    height: calc(100vh);
    overflow: hidden;
    transition: all 1s cubic-bezier(0.54, 0.18, 0.13, 1);
    border: 37px solid white;
    opacity: 0;
    background-color: #F9F8F1;

    &.is-active{
       right: 0;
       opacity: 1;
    }
 
    .wrap{
      // padding-top: 18vh;
       // padding-left: 100px;
    }
 
    .container-menu{
       position: relative;
       width: 100%;
       height: 100vh;

       ul {
         height: 100vh;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

         li a { text-transform: uppercase; }
       }
    }
 
    .bt-close-menu{
       @include absolute($t: 65px, $r: 65px);
       cursor: pointer;
       @include transition(0.6s);
       filter: invert(1);
      z-index: 9999;

       &:hover{
          transform: scale(1.2) rotate(90deg);
       }
    }
 
    .menu-item{
       font-family: 'area-normal', sans-serif;
       font-size: 1.2em;
       color: black;
       line-height: 3vh;
       display: inline-block;
       margin-bottom: 4.5vh;
       letter-spacing: 1.5px;
 
       &:hover, &.current{
          color: $primary-font-condensed;
       }
    }
 }
 
 

//  TABLET PORTRAIT
@media only screen and (min-width: 577px) and (max-width: 768px){

 header{

   .header-options {
     a {
       //margin-left: 35px;
     }
   }


 }

 
}

//  TABLET LANDSCAPE

@media only screen and (min-width: 577px) and (max-width: 1024px){
header {
   .header-options {
      display: flex;

      gap: 40px;
      justify-content: space-around;
      align-items: center !important; 

     a {
     }

     .logo-horizontes {
       position: relative;
       top: 5px;
     }
   }
}

}


// smartphone
@media only screen and (max-width: 576px) {
header {

  .button-container {
    .btn {
      padding-left: 45px;
    }
  }

}


.menu{

}
}