

.contador.animated { opacity: 1 }

section.features-section {
   background: #3B3B3B;
   padding-top: 60px;
   position: relative;
   z-index: -2;


   .numbers {
      display: flex;
      justify-content: center;
      gap: 65px;

      .number-item {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         strong  {
            font-size: 130px;
            letter-spacing: -8px;
            color: $secondary-color;
            font-family: $primary-font-semicondensed;
            line-height: 130px;
            position: relative;
            right: 9px;
         }

         p {
            font-size: 31px;

            color: white;
            font-weight: 400;
            letter-spacing: 1.55px;
            text-align: center;
         }
      }

   }
   .features {
      display: flex;
      justify-content: center;
      gap: 85px;

      .feature-item {
         display: flex;
         flex-direction: column;
         align-items: center;

         p {
            font-size: 24px;
            line-height: 31px;
            color: white;
            text-align: center;
            margin-top: 12px;
            width: 180px;
            font-weight: 400;
         }
      }
   }

   a.btn {
      margin: 0 auto;

      font-family: $primary-font-condensed;
      font-weight: 200;
      //background-color: $secondary-color;

      //padding-top: 14px;
      //padding-bottom: 15px;
      //font-size: 32px !important;

      font-size: 24px !important;
      padding-top: 11px;
      padding-bottom: 14px;
   }

   .planta-background {
      position: absolute;
      bottom: 30px;
      right: 0;
      z-index: -1;
   }
}

section.short-section {
   background: $green-color;
   padding: 0;
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;

   p {
      color: white;
      font-size: 32px;

      span {
         font-family: $secondary-font;
         font-size: 90px;
         line-height: 135px;

      }
   }
}

section.gessele-apresenta {
   padding: 90px 0;
   padding-bottom: 60px;
   background-repeat: no-repeat;

   position: relative;
   overflow: hidden;

   .sign-title {
      display: block;
      margin-top: 60px;
      margin-top: 60px;
   }

   .background-image, canvas {
      position: absolute;
      right: 0;
      top: 0;
      //object-fit: cover;
      z-index: -1;
      width: 1920px;
      height: 1839px !important;
   }

   .background-image {
      background-size: cover;
   }

   canvas {
      position: relative;
      z-index: 10;
      display: none !important;

   }

   .container {




      img {
         width: 320px;
         margin-bottom: 70px;
      }

      > span {
         font-size: 90px;
         letter-spacing: 0;
      }

      color: white;
      text-align: center;

      p {
         text-align: center;
         color: white;
         font-size: 48px;
         letter-spacing: 2.56px;
         font-family: $primary-font-condensed;

         strong {
            font-weight: 600;
         }
   
         span {
            font-size: 90px;
            letter-spacing: 0;
         }
         
         //br { display: none; }
      }

      .glass-container {
         position: relative;
         background: rgba(255, 255, 255, 0.1); /* fundo semi-transparente */
         //backdrop-filter: blur(20px); /* desfoque de fundo */
         backdrop-filter: blur(0px); /* desfoque de fundo */
         transition: 0.4s;
         //-webkit-backdrop-filter: blur(20px); /* para Safari */
         -webkit-backdrop-filter: blur(0px); /* para Safari */
         border-radius: 40px;
         padding-bottom: 70px;
         padding-top: 70px;
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
         //border: 3.5px solid rgba(255, 255, 255, 0.3);
         border: 3.5px solid rgba(255, 255, 255, 0);

         p {
            position: relative;
            z-index: 1; /* garante que o texto fique acima do blur */
            font-size: 36px;
            color: #fff; /* ou outra cor que contraste bem */
            letter-spacing: 1.92px;
            transition: 0.4s;
            opacity: 0;
         }

         span {
            font-size: 90px;
            font-weight: 100;
            line-height: 30px;
            letter-spacing: 4.56px;
         }


         // Smartphone
         @media(max-width: 578px){
            backdrop-filter: blur(20px); /* desfoque de fundo */
            border: 3.5px solid rgba(255, 255, 255, 0.3);


            p {
               opacity: 1;
            }
         }
      }
      
      p:last-child {
         //font-size: 116px;
      }
   }
}

section.metric-section {


   .planta-background {
      position: absolute;
      top: 30px;
      left: -30px;
   }

   .container {
      text-align: center;

      h2 {
         color: $green-color;
         font-size: 48px;
         font-weight: 400;
         letter-spacing: 0;


         span {
            color: $secondary-color;
            text-transform: capitalize;
            font-size: 130px;
            line-height: 115px;
            letter-spacing: 0;
            font-weight: lighter;
         }
      }

      > p {
         font-size: 68px;
         line-height: 81px;
         color: $green-color;
         margin-top: 64px;
         letter-spacing: 0;
      }

      .tipos-container {
         display: flex;
         gap: 95px;
         justify-content: center;

         .tipo-box {
            position: relative;
            background-color: #F8F5EF;
            border-radius: 40px;
            padding: 55px 65px;
            z-index: 1;
            transition: 0.4s;

            // Remove a borda sólida padrão
            border: none;

            // Pseudo-elemento para a borda com gradiente
            &::before {
               content: '';
               position: absolute;
               opacity: 0.2;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               padding: 4px; // tamanho da borda
               border-radius: 40px;
               background: linear-gradient(
                               to top,
                               #585858 0%,
                               rgba(255, 255, 255, 0) 70%,
                               #ffffff 100%
               );
               -webkit-mask:
                       linear-gradient(#ffff 0 0) content-box,
                       linear-gradient(#ffff 0 0);
               -webkit-mask-composite: xor;
               mask-composite: exclude;
               z-index: -1;
            }

            p.big {
               font-size: 75px;
               letter-spacing: 3px;
               text-transform: uppercase;
               font-weight: bolder;
               color: $green-color;
               margin-bottom: 25px;
               //text-shadow:
               //        -1px -1px 0 $secondary-color,
               //        1px -1px 0 $secondary-color,
               //        -1px  1px 0 $secondary-color,
               //        1px  1px 0 $secondary-color;
            }

            img {
               margin-top: -10px;
               width: 180px;
               margin-bottom: 45px;
               transition: 0.4s;
            }

            p.description {
               font-size: 38px;
               color: $green-color;
               font-weight: 400;
               letter-spacing: 1.52px;
               line-height: 41px;
               //text-shadow:
               //        -1px -1px 0 $secondary-color,
               //        1px -1px 0 $secondary-color,
               //        -1px  1px 0 $secondary-color,
               //        1px  1px 0 $secondary-color;
            }


            &:hover {
               background-color: #e3dfd6;

               img {
                  transform: translateY(5px);
               }

            }
         }
      }

   }


}

section.philip-section {
   background: $green-color;


   @keyframes spin-animation {
      from {
         transform: rotate(0deg);
      }

      to {
         transform: rotate(360deg);
      }
   }

   .rounded-icon {
      position: relative;
      width: 223px;
      height: 223px;
      display: block;

      .middle-content {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }

   }

   .spin {
      animation: spin-animation 20s infinite linear;
   }

   .container {
      display: flex;
      justify-content: space-between;
      margin: 0;
      max-width: 100% !important;



      .left-content {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         flex: 1;

         img {
            width: 223px;
            height: 223px;
            display: block;
         }

         p, strong, span {
            color: white;
         }

         p strong {
            font-weight: bold;
         }

         p {
            font-size: 32px;
            letter-spacing: 0;

            span {
               color: $secondary-color;
            }
         }
      }
   }
}

.description-section {
   .planta-background {
      position: absolute;
      bottom: 30px;
      right: -110px;
      z-index: -1;
   }

   h2 {
      font-size: 90px;
      font-weight: bolder;
      margin-bottom: 0;
      letter-spacing: 0;
   }

   strong {
      font-weight: 600 !important;
   }

   p {
      font-size: 24px;
   }

   .container, h2 {
      color: $green-color;
      text-align: center;
   }

   a.btn {
      font-size: 36px;
      font-weight: 100;
      padding-bottom: 15px;
      padding: 10px 55px !important;
      padding-bottom: 14px !important;
      font-size: 28px !important;
      padding-bottom: 15px;
   }
}


section.localizacao {
   background-color: $green-color;
   text-align: center;
   padding-top: 50px;
   padding-bottom: 0px;

   h2, span, a {
      color: $secondary-color;
   }

   h2 {
      font-size: 58px;
      line-height: 38px;
      letter-spacing: 0;
      margin-bottom: 10px;
      font-weight: 400;

      span {
         font-size: 116px;
         line-height: 94px;
         letter-spacing: 0px;
      }
   }

   a {
      background-color: $secondary-color;
      color: white;
      //box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   }

   span {
      color: white;
   }

   .map-container {
      position: relative;
      height: 600px;
      width: 100%;
   }

   .map-container iframe {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      z-index: 1;
      pointer-events: none;

   }

   .map-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #BCA582;
      mix-blend-mode: color; /* ou overlay, color, soft-light, etc */
      opacity: 0.8; /* ajuste como quiser */
      pointer-events: none;
      z-index: 2;
   }
}

section.talk-to-us-section {
   background-color: $green-color;
   padding-top: 80px;
   padding-bottom: 80px;

   color: white;

   p {
      font-size: 32px;
      //position: relative;
      //right: 148px;
   }
   
   a.btn {
      //background-color: $secondary-color;
      letter-spacing: 0;
      margin: 0 auto;
      font-weight: 500;
      font-size: 24px !important;
      padding: 15px;
      padding-top: 11px;
      padding-bottom: 14px;

   }
}



// Notebook
@media only screen and (min-width: 1025px) and (max-width: 1499px) {
   section.philip-section {
      .container {

         .right-content {
            img {
               width: 650px;
            }
         }
      }
   }
}



// Tablet landscape
@media only screen and (min-width: 577px) and (max-width: 1024px){

   section.features-section {
      z-index: 0;

      .features {
         flex-wrap: wrap;
         gap: 0;
         justify-content: center;
         row-gap: 40px;
         column-gap: 20px;
      }
   }

   section.gessele-apresenta {
      .container {
         padding-left: 20px;
         padding-right: 20px;


         span {
            line-height: 45px !important;
         }

         .glass-container {
            margin-top: 40px;
            margin-bottom: 60px;
         }

      }

      span.sign-title {
         line-height: 70px !important;

      }

   }

   section.metric-section {
      padding-left: 20px;
      padding-right: 20px;

      .tipos-container {
         gap: 55px;
      }
   }

   section.philip-section {
      .wide {
        padding: 0;
      }

      .container {
         display: grid;
         grid-template-rows: 1fr;
         grid-template-columns: 1fr 1fr;

         .left-content {
            padding: 0 10px;
         }

         .right-content {
            display: flex;
            align-items: center;
            justify-content: flex-end;

         }
      }
   }

   section.description-section {

      .container {
         padding-left: 20px;
         padding-right: 20px;
      }

      br {
         display: none;
      }
   }

   section.localizacao {
      h2 {
         line-height: 60px;
      }
   }

}


//  TABLET PORTRAIT
@media only screen and (min-width: 577px) and (max-width: 768px){

section.metric-section {

}

section.philip-section {
   padding-bottom: 0;
   padding-top: 0;

   .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 620px 1fr;

      .left-content {
         .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 20px;

            br {
               display: none;
            }
         }
      }

   }
}

}


// Smartphone
@media(max-width: 578px){
   section.features-section {
      z-index: 0;
      padding-bottom: 60px;

      .planta-background {
         bottom: 920px;
         right: -90px;
      }

      .numbers, .features {
         flex-direction: column;
         gap: 35px;

         .number-item {
            strong { font-size: 100px; line-height: 80px; }
         }
      }
   }

   .short-section {
      padding: 0 !important;

      p {
         font-size: 21px !important;

         span {
            font-size: 54px !important;
         }
      }
   }

   section.gessele-apresenta {
      //background-position-y: -170px;
      background-position-y: 0px;
      background-position-x: 100%;
      background-size: cover;
      padding-right: 10px;
      padding-left: 10px;



     .container {
        img { width: 240px; }

        img.by-gessele-img {
           margin-bottom: 50px;
        }

        > span {
           font-size: 54px !important;
           line-height: 30px;
           display: block;
           margin-top: 40px;
        }

        p {
           font-size: 32px;
           line-height: 30px;
           line-height: 60px;
           span {
              font-size: 54px !important;

           }
        }

        .glass-container {
           padding: 60px 35px;

           br {
              //display: none;
           }

           p {
              font-size: 24px;
              line-height: 40px;
              font-weight: 200;

              span {
                 font-size: 80px !important;
                 display: block;
                 margin-bottom: 10px;
                 line-height: 60px;
              }
           }
        }
     }


   }

   section.metric-section {
      .container {

         h2 {
            font-size: 24px;
            min-width: 298px;

            span {
               line-height: 75px !important;
               font-size: 140px;

               //@include fs-vw(7);
            }
         }

         .tipos-container {
            flex-direction: column;
            padding: 0 30px;
            gap: 50px;



            .tipo-box {
               padding: 55px 45px;

               img {
                  width: 150px;
                  margin-bottom: 30px;
               }

               .description {
                  br { display: none; }
               }

               p.big {
                  margin-bottom: 30px;
               }
            }
         }

         > p {
            line-height: 40px;
         }
      }
   }

   section.philip-section {
      padding-bottom: 0;

      .wrap {
         padding: 0;
      }

      .container {
         flex-direction: column;

         p {
            padding: 0 50px;

         }

         p.big strong { font-size: 47px !important;}

         .left-content {
            .content {
               text-align: center;

               .rounded-icon {
                  margin: 0 auto;
               }

            }

            .text-container {
               text-align: center;


               p br { display: none; }
            }
         }

         .right-content {
            img {
               display: block;
            }
         }

      }
   }

   section.description-section {
      padding-top: 60px;
      padding-bottom: 60px;

      h2 {
         font-size: 16vw;
         line-height: 30px;
         letter-spacing: 0;

      }

      .container {
         p {
            padding: 0 25px;
            font-size: 20px;

            br {
               display: none;
            }
         }
      }
   }

   section.localizacao {
      h2 span {
         line-height: 50px;
         display: block;
         margin-top: 20px;
         margin-bottom: 63px;
      }
   }

   section.talk-to-us-section {
      img {
         width: 70%;
      }
   }
}