


section.features-section {
   background: #3B3B3B;
   padding-top: 60px;
   position: relative;
   z-index: -2;

   .numbers {
      display: flex;
      justify-content: center;
      gap: 65px;

      .number-item {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         strong  {
            font-size: 188px;
            letter-spacing: -11.28px;
            color: $secondary-color;
            font-family: $primary-font-semicondensed;
            line-height: 173px;
            position: relative;
            right: 9px;
         }

         p {
            font-size: 31px;

            color: white;
            font-weight: 400;
            letter-spacing: 1.55px;
            text-align: center;
         }
      }

   }
   .features {
      display: flex;
      justify-content: center;
      gap: 85px;

      .feature-item {
         display: flex;
         flex-direction: column;
         align-items: center;

         p {
            font-size: 24px;
            line-height: 31px;
            color: white;
            text-align: center;
            margin-top: 28px;
            font-weight: 400;
         }
      }
   }

   a.btn {
      margin: 0 auto;
      padding-top: 14px;
      padding-bottom: 15px;
      font-size: 32px !important;
      font-family: $primary-font-condensed;
      font-weight: 200;
      background-color: $secondary-color;
   }

   .planta-background {
      position: absolute;
      bottom: 30px;
      right: 0;
      z-index: -1;
   }
}

section.short-section {
   background: $green-color;
   padding: 0;
   height: 140px;

   p {
      color: white;
      font-size: 48px;

      span {
         font-family: $secondary-font;
         font-size: 127px;
         line-height: 135px;

      }
   }
}

section.gessele-apresenta {
   padding-top: 140px;
   background-repeat: no-repeat;

   .container {

      img {
         width: 538px;
         margin-bottom: 95px;
      }


      //display: flex;
      //flex-direction: column;
      //align-items: center;
      //justify-content: center;

      color: white;
      text-align: center;

      p {
         text-align: center;
         color: white;
         font-size: 64px;
         letter-spacing: 2.56px;
         font-family: $primary-font-condensed;

         strong {
            font-weight: 600;
         }
   
         span {
            font-size: 106px;
            letter-spacing: 0;
         }
         
         //br { display: none; }
      }

      .glass-container {
         position: relative;
         background: rgba(255, 255, 255, 0.1); /* fundo semi-transparente */
         backdrop-filter: blur(20px); /* desfoque de fundo */
         -webkit-backdrop-filter: blur(20px); /* para Safari */
         border-radius: 40px;
         padding-bottom: 80px;
         padding-top: 80px;
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
         border: 3.5px solid rgba(255, 255, 255, 0.3);

         p {
            position: relative;
            z-index: 1; /* garante que o texto fique acima do blur */
            font-size: 48px;
            color: #fff; /* ou outra cor que contraste bem */
            letter-spacing: 1.92px;
         }

         span {
            font-size: 114px;
            font-weight: 100;
            line-height: 30px;
            letter-spacing: 4.56px;
         }
      }
      
      p:last-child {
         //font-size: 116px;
      }
   }
}

section.metric-section {

   .planta-background {
      position: absolute;
      top: 30px;
      left: -30px;
   }

   .container {
      text-align: center;

      h2 {
         color: $green-color;
         font-size: 68px;
         font-weight: 400;
         letter-spacing: 0;


         span {
            color: $secondary-color;
            text-transform: capitalize;
            font-size: 168px;
            line-height: 115px;
            letter-spacing: 0;
            font-weight: lighter;
         }
      }

      > p {
         font-size: 68px;
         line-height: 81px;
         color: $green-color;
         margin-top: 64px;
         letter-spacing: 0;
      }

      .tipos-container {
         display: flex;
         gap: 95px;
         justify-content: center;

         .tipo-box {
            position: relative;
            background-color: #F8F5EF;
            border-radius: 40px;
            padding: 55px 65px;
            z-index: 1;

            // Remove a borda sólida padrão
            border: none;

            // Pseudo-elemento para a borda com gradiente
            &::before {
               content: '';
               position: absolute;
               opacity: 0.2;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               padding: 4px; // tamanho da borda
               border-radius: 40px;
               background: linear-gradient(
                               to top,
                               #585858 0%,
                               rgba(255, 255, 255, 0) 70%,
                               #ffffff 100%
               );
               -webkit-mask:
                       linear-gradient(#ffff 0 0) content-box,
                       linear-gradient(#ffff 0 0);
               -webkit-mask-composite: xor;
               mask-composite: exclude;
               z-index: -1;
            }

            p.big {
               font-size: 75px;
               letter-spacing: 3px;
               text-transform: uppercase;
               font-weight: bolder;
               color: $green-color;
               margin-bottom: 5px;
               text-shadow:
                       -1px -1px 0 $secondary-color,
                       1px -1px 0 $secondary-color,
                       -1px  1px 0 $secondary-color,
                       1px  1px 0 $secondary-color;
            }

            img {
               margin-top: -30px;
               margin-bottom: 35px;
            }

            p.description {
               font-size: 38px;
               color: $green-color;
               font-weight: 400;
               letter-spacing: 1.52px;
               line-height: 41px;
               text-shadow:
                       -1px -1px 0 $secondary-color,
                       1px -1px 0 $secondary-color,
                       -1px  1px 0 $secondary-color,
                       1px  1px 0 $secondary-color;
            }
         }
      }

   }


}