.parallax-section {
  padding-bottom: 150px;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.4;
    z-index: 3;
  }

  .item {
    width: 100%;
    // aspect-ratio: 1280/572;
    background-size: cover;
  }

  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    span { color: #F9F8F1; }
  }

  .sliders-container {
    position: relative;

    a.item {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 520px;

      picture, img {
        width: 100%;
      }


      img { transition: 0.2s all; }

      &:hover {
        img { filter: brightness(1.08); }
      }
    }


  }

  .owl-item {
    aspect-ratio: 1280 / 630;
  }

  .owl-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    position: absolute;
    right: 0;
    bottom: 0px;

    &.disabled { display: flex !important; }



    button {
      position: relative;
      z-index: 99;
      margin: 0 !important;
      margin-left: 15px !important;
      background-color: #f6f6f6 !important;

      span {
        border: 1px solid black;
        width: 32px;
        height: 32px;
        @include flex(center, center);
        transition: .2s;


        img {

        }
      }

      &:hover {
        span {
          background-color: white;
          img { filter: invert(0%); }
        }
      }
    }


  }

  .slider-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    position: relative;

    a {


      span {
        transition: .2s;
        border: 1px solid black;
        width: 32px;
        height: 32px;
        @include flex(center, center);


        img {
        }
      }


      &:hover {


      }
    }


  }
}


// tablet landscape
@media only screen and (min-width: 577px) and (max-width: 1024px) {
  .sliders-container {
    a.item {
      height: 330px !important;
      // border: 1px solid red;
      img {
        height: 530px !important;
        object-fit: cover;

      }
    }
  }
}

// tablet portrait
@media only screen and (min-width: 577px) and (max-width: 768px) {

}

// notebook
@media only screen and (min-width: 1025px) and (max-width: 1499px) {

}

// smartphone
@media screen and (max-width: 578px) {
  section.parallax-section .sliders-container .middle-gallery-carrousel{

    a.item {
      aspect-ratio: 441/578 !important;
      height: auto;

      .parallax-container {
        aspect-ratio: 441/578 !important;
        width: 100%;

        img {
          aspect-ratio: 441/578 !important;
        }

      }
    }

  }
}